<div *ngIf="rental">
  <h2>Rental number #{{rental.id}} details
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
  </h2>
  <div>
    <label>Client ID: </label> {{rental.clientId}}
  </div>

  <div>
    <label>Movie ID: </label> {{rental.movieId}}
  </div>

  <div class = "left" >
    <h2>Clients</h2>
    <ol class="clients">
      <li *ngFor="let client of clients "
          [class.selected]="client === selectedClient"
          (click)="onSelectClient(client)">
        {{client.id}}
      </li>
    </ol>
  </div>

  <div class = "right" >
    <h2>Movies</h2>
    <ol class="movies">
      <li *ngFor="let movie of movies "
          [class.selected]="movie === selectedMovie"
          (click)="onSelectMovie(movie)">
        {{movie.id}}
      </li>
    </ol>
  </div>

</div>

